body{background-color: 	#f7efef;}
h1{color: #d72621;font-style: Candara;}
div{
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}
#name {background-color: #639565}